* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    color: #6a7278;
}

.container {
    margin: 50px;
    padding: 50px;
    background-color: #00d9bc;
    border-radius: 25px;
}

.title {
    text-align: center;
}

.title span {
    color: whitesmoke;
}

.status-action {
    margin-top: 25px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.reset {
    cursor: pointer;
}

.reset:hover {
    color: #f37f19;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
    background-color: #0f6674;
}

.game-cell {
    height: 200px;
    width: 200px;
    background-color: #00d9bc;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}

.x,
.o {
    cursor: default;
}

.x:after {
    content: 'X';
    font-size: 200px;
}

.o:after {
    content: 'O';
    font-size: 200px;
    color: #44C21F;
}







@media only screen and (max-width: 1024px) {
    .game-grid {
        margin-top: 25px;
        grid-gap: 10px;
    }

    .game-cell {
        height: 150px;
        width: 150px;
    }

    .x::after {
        font-size: 150px;
    }

    .o::after {
        font-size: 175px;
    }
}

@media only screen and (max-width: 540px) {
    .container {
        margin: 25px;
        padding: 25px;
    }

    .game-cell {
        height: 100px;
        width: 100px;
    }

    .x::after {
        font-size: 100px;
    }

    .o::after {
        font-size: 125px;
    }
}



























